{% extends 'base.html' %}
{% load cloudinary %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mx-auto p-5" style="background-color: aliceblue;">
    <div class="row">
        <h6 class="text-center">Add facility</h6>

        <div class=" w-100">
            <form action="" method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn  btn-primary  d-block my-3">Add+</button>
            </form>
        </div>

    </div>
</div>

{% endblock %}